/* WooTax admin CSS */

.toplevel .form-error {
	border-color: #be0636 !important;
}

#catList {
	width: 350px !important;
}

.wootax-reports-page {
	padding-left: 10px;
}

#wootax-loader {
	width: 16px;
	height: 26px;
	background: url('../img/ajax-loader.gif') left center no-repeat;
	display: none;
	margin-left: 5px;
}

a#wootax-remove-tic {
	text-decoration: none;
}

span.required {
	color: red;
}

a.remove_address {
	font-size: 18px;
	color: red;
	cursor: pointer;
	display: block;
	margin-top: 4px;
}

a.remove_address.disabled {
	cursor: not-allowed;
	color: #666;
}

.wp-admin.post-php .chzn-container {
    max-width: 259px !important;
}

.button.add-order-tax, a.delete_refund {
    display: none !important;
}

.help_tip {
    vertical-align: middle;
}

table.wootax-settings.form-table th {
    position: relative;
    padding-right: 24px;
}

table.wootax-settings th img.help_tip {
    float: right;
    margin-right: -24px;
}

.wp-core-ui .button-secondary.wootax-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
}

.wootax-message.update-nag p {
    margin: 0 !important;
}

.hide-tax-options .form-field._tax_status_field, .hide-tax-options .form-field._tax_class_field {
    display: none !important;
}

.hide-tax-options #woocommerce-fields > label:nth-of-type(2), .hide-tax-options #woocommerce-fields > label:nth-of-type(3), .hide-tax-options #woocommerce-fields > br:nth-of-type(2), .hide-tax-options #woocommerce-fields > br:nth-of-type(3) {
    display: none !important;
}

.hide-tax-options #woocommerce-fields-bulk > label:nth-of-type(2), .hide-tax-options #woocommerce-fields-bulk > label:nth-of-type(3) {
    display: none !important;
}

.hide-tax-options .woocommerce_variable_attributes .data > div:nth-of-type(5) p:last-child {
    display: none !important;
}

.hide-tax-options.wc-2-1 .woocommerce_variable_attributes tbody table.data_table tbody tr:nth-of-type(7) td:nth-of-type(2) {
    visibility: hidden !important;
}

.hide-tax-options.wc-2-2 .woocommerce_variable_attributes tbody table.data_table tbody tr:nth-of-type(8) td:nth-of-type(2) {
    visibility: hidden !important;
}

#delete_rates_table {
    padding-top: 8px;
    padding-bottom: 0;
}

#delete_rates_table p {
    font-weight: normal;
}

#delete_rates_table h4 {
    margin-top: 0;
}

.get-plus-wrap h3 {
    margin: .5em 0 1em 0;
}

.wootax-settings .select2-container {
    max-width: 400px;
}

.wootax_page_wootax-settings .wootax-message.error {
    margin-left: .15em;
    margin-top: 1em;
}