/* Lightbox CSS */

body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666666;
	margin: 0px;
	font-size: 14px;
	line-height: 22px;
}

html
{
	padding: 15px 20px 5px 20px;
}

h1, h2, h3
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	color: #444444;
	float: left;
	clear: both;
}

strong
{
	font-weight: 700;
}

em
{
	font-style: italic;
}

p
{
	float: left;
	margin-top: 0px;
	margin-bottom: 10px;
}

h1
{
	font-size: 24px;
	line-height: 36px;
}

h2
{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

.form-row
{
	float: left;
	clear: both;
	margin-bottom: 15px;
}

form label, form span, form input, form textarea, form select
{
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0px;
	margin-right: 15px;
}

form select, form input
{
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	width: 200px;
	padding: 0px 10px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

form label
{
	font-weight: 700;
	font-size: 14px;
	width: 125px;
}

.error
{
	float: left;
	clear: both;
	padding: 5px 0px 0px 140px;
	color: #be0000;
	font-weight: 700;
}

.floatLeft
{
	float: left;
}

.hidden
{
	display: none;
}

.submit, button
{
	float: right;
	margin-top: 5px;
	-moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color: #3d94f6;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #337fed;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	height: 35px;
	line-height: 35px;
	width: 160px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #1570cd;
	cursor: pointer;
}

.submit:hover , .submit:focus, button:hover, button:focus
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background: -moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color: #1e62d0;
}

.submit:active, button:active
{
	position: relative;
	top: 1px;
}

.errorMsg
{
	color: #be0000;
}

.successMsg
{
	color: #01752a;
}

.addCert
{
	float: left;
	clear: both;
}

#add-certificate input[type="submit"]
{
	float: left;
}

#manageCertsBtn
{
	float: left;
	margin-right: 15px;
	width: 185px;
	height: 37px;
}

.grey
{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ) !important;
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf') !important;
	background-color: #ededed !important;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #444444;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 35px;
	line-height: 35px;
	width: 185px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

.grey:hover
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ) !important;
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed') !important;
	background-color: #dfdfdf !important;
}

.grey:active
{
	position: relative;
	top: 1px;
}

.smallButton
{
	float: left;
	width: 90px;
	margin-right: 15px;
	font-size: 14px;
	line-height: 23px;
	height: 25px;
}

#certificatePreview
{
	background: url('../img/exemption_certificate750x600.png') top left no-repeat;
	clear: both;
	width: 750px;
	height: 600px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#certificatePreview span
{
	position: absolute;
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

#previewCert #manageCertsBtn
{
	float: left;
	margin-bottom: 15px;
}

#PurchaserName
{
	top: 205px;
	left: 405px;
	width: 222px;
}

#PurchaserAddress
{
	top: 227px;
	left: 190px;
	width: 445px;
}

#PurchaserState
{
	top: 296px;
	left: 215px;
	width: 245px;
}

#PurchaserExemptionReason
{
	top: 318px;
	left: 180px;
	width: 480px;
}

#Date
{
	top: 378px;
	left: 445px;
	width: 235px;
}

#TaxType
{
	top: 407px;
	left: 445px;
	width: 235px;
}

#IDNumber
{
	top: 436px;
	left: 445px;
	width: 235px;
}

#PurchaserBusinessType
{
	top: 465px;
	left: 445px;
	width: 235px;
}

#MerchantName
{
	top: 495px;
	left: 445px;
	width: 235px;
}

#OrderID
{
	top: 353px;
	left: 445px;
	width: 235px;
}

#manage-certificates button.addCert
{
	margin-top: 10px;
	margin-bottom: 15px;
}

#wootax-loading
{
	width: 100%;
	float: left;
	clear: both;
}

#wootax-loader
{
	float: left;
	margin-left: 15px;
	height: 37px;
	width: 16px;
	background: url('../img/ajax-loader.gif') left center no-repeat;
	display: none;
}

#manage-certificates #wootax-loader
{
	margin-top: 10px;
}

#add-certificate #wootax-loader
{
	margin-top: 4px;
	margin-left: 0px;
}

#certs
{
	width: 490px;
}

#manageCertificates
{
	float: left;
	clear: both;
	width: 100%;
}