/* Front end CSS */

/* Hide zero tax row so we can control its display */
.tax-rate-zero-rated {
	display: none !important;
}

/* Clear flots on exemption link */
#wooTaxExempt {
	clear: both;
	float: left;
}