/* Simple Sales Tax - Checkout styles */

ul.certificate-details {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.certificate-details li {
	line-height: 1.5;
}

input.sst-delete-certificate {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}