.wc-backbone-modal .wc-backbone-modal-content.sst-select-tic-modal-content {
    width: 100%;
    min-height: 100%;
    top: 0;
    transform: none;
    left: 0;
}

@media ( min-width: 768px ) {
    .wc-backbone-modal .wc-backbone-modal-content.sst-select-tic-modal-content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        max-width: 800px;
        min-height: 0;
    }
}

.sst-tic-search {
    width: 100%;
}

.sst-tic-select-wrap button, .sst-tic-select-wrap .sst-selected-tic {
    display: inline-block;
    vertical-align: middle;
}

.sst-tic-select-wrap button {
    margin-left: 8px;
}

.wc-backbone-modal-main article .sst-tic-list p {
    margin: 0;
}

#wcfm-main-contentainer button.wcfm_submit_button.sst-select-tic {
    float: none;
    margin-top: 0;
}

.wcfm-sst-html {
    display: inline-block;
    width: 60%;
}

#variations .wcfm-sst-html {
    width: 100%;
}

.wcfm-sst-html select.wcfm-select, .wcfm-sst-html input[type="text"].wcfm-text {
    width: 100%;
}

@media only screen and ( max-width: 640px ) {
    .wcfm-sst-html {
        width: 100%;
    }
}

.wcmp-wrapper .sst-select-tic {
    margin-left: 10px;
}

.wcmp-wrapper ~ #wc-backbone-modal-dialog .sst-tic-search {
    margin-bottom: 1em;
}

.wcmp-wrapper ~ #wc-backbone-modal-dialog .sst-tic-list h4 {
    margin-bottom: 3px;
    font-size: 16px;
}

.wcmp-wrapper ~ #wc-backbone-modal-dialog .tic-row td {
    padding: 0.5em 0;
}
